<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script defer src="/static/script.js"></script>
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Hello world!</h1>
        <a href="/date">redirect Date</a>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis cupiditate, dolorem, <br>
            quibusdam dolor corporis expedita alias dolorum iusto est laborum nihil. Officiis porro <br>
            laudantium alias nemo, corrupti tempore reiciendis dolorem?</p>
    </div>
</body>
</html>