<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <script src="/static/login.js" defer></script>
    <title>Login</title>
</head>
<body>
    <form method="POST">
        <input type="text" class="emeil">Enter your email address
        <input type="text" class="password">Enter your password
        <button class="button" type="submit">Submit</button>
    </form>
</body>
</html>