<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <script src="/static/registration.js" defer></script>
    <title>Register</title>
</head>
<body>
    <form method="POST" class="forma">
        <input type="text" class="login">Enter your login
        <input type="email" class="email">Enter your email address
        <input type="password" class="password">Enter your password
        <button class="button" type="submit">Submit</button>
    </form>
</body>
</html>